nav {
    background-color: blue;
    width: 100%;
}

nav {
    color: white;
    text-decoration: none;
    background-color: rgb(red, green, blue);
    display: block;
}

nav {
    list-style: none;
}

* {
    margin: 0%;
    padding: 0%;
}